@font-face {
  font-family: "teste";
  src:url(../font/zelda.ttf);
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "teste2";
  src:url(../font/arkham.ttf);
  font-style: normal;
  font-weight: 100;  
}

.container {
  height: 100%;
  padding-bottom: 25%;
  padding-top: 2%;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  width: 200px;
  height: 200px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: -100px;
  height: 20px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
  color: rgb(0, 0, 0);
}

.title-black {
  color: rgb(0, 0, 0);
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

#titulo {
  text-shadow: 5px 1px 5px #000000, 1px 10px 5px #000000, 5px 14px 5px rgba(0, 0, 0, 0.51), -6px -5px 5px rgba(0, 0, 0, 0.7);
  font-size: 17px;
}


/*
  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.4s;
  }
  */
.fixarfooter {
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    height: 140px;
}
#titulo2 {
  font-family: "teste";
  font-size: 40px;
  text-align: center;
  padding: 3rem;
  color: #e0dfdc;
  letter-spacing: .1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 
               0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 
               0 4px 0 #282828, 0 5px 0 #262626, 
               0 6px 0 #242424, 0 7px 0 #222, 
               0 8px 0 #202020, 0 9px 0 #1e1e1e, 
               0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 
               0 12px 0 #181818, 0 13px 0 #161616, 
               0 14px 0 #141414, 0 15px 0 #121212, 
               0 22px 30px rgba(0,0,0,0.9);
} 